/*Styling for sidebar*/
.sidebar {
  float: left;
  border-style: dotted;
  border-radius: 50%;
  padding: 5%;
  border-width: thin;
  border-color: #CFE5EC;
}
.sidebar ul, h3 {
  text-align: center;
}
.sidebar li {
  list-style: none;
  text-align: left;
}

/*Styling for jumbotron*/
.jumbotron {
  display: block;
  text-align: center;
  background-color: #A3B9CD;
  color: #FEFDFD;
  border-color: #797B81;
  border-style: solid;
  border-width: thin;
}

body {
  background-color: #A5A8B0;
}
