/*Styling for sidebar*/
.sidebar {
  float: left;
  padding: 2%;
  width: 10%;
  position: fixed;
  overflow: auto;
  margin-top: 15%;

}
.sidebar h3 {
  text-align: left;
}
.sidebar p {
  text-align: left;
}

/*Styling for jumbotron*/
.jumbotron {
  display: block;
  text-align: center;
  background-color: #a6a0a0;
  color: #FEFDFD;
  border-color: #ebd8d2;
  border-style: solid;
}
.jumbotron img {
  border-radius: 50%;
  border-color: #5b5f5c;
  border-style: solid;
  border-width: thick;
  border
}
.jumbotron p {
  font-family: monospace;
  font-style: italic;
  font-size: 18px;
  line-height: 200%;
}
.jumbotron a:link {
  color: #ebd8d2;
}

body {
  background-color: #d3d0d0;
}
.well {
  border-color: #ebd8d2;
  border-style: solid;
}
.well h3 {
  color: #5b5f5c;
  padding: .5%;
}
#github {
  color: #FEFDFD;
  background-color: #9a90a6;
}
.github a:link {
  color: #232C29;
}
